<a href="https://colab.research.google.com/github/saunderson987/Python_excel_Automation/blob/main/Python_Basics_Module_1_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Syntax

In [ ]:
# Comment
# This is a comment !

In [ ]:
print('Hello World')
# as Hello world is a string you have to add single or double quotation marks

Hello World

In [ ]:
print(2)
#helpful for keeping track of order of execution (no quotation for numbers)

2

In [ ]:
#operations / calculation
print(2+3)

5

In [ ]:
2+3
#use print is better as it only shows printed results if is more than one formula in text string

5

In [ ]:
print(2+3)
print(1*8)

5
8

In [ ]:
print('hey')
print("hey")

hey
hey

In [ ]:
#variables
#to assign a value use the symbol =
# assign a numerical variable
x=2
y=3

print(x,y)

2 3

In [ ]:
x+y

5

In [ ]:
#assign a 'text' value to a variable
#make operations with strings
#do not capitalise functions

string1='love'
string2='data'

print(string1+' '+string2)

love data

# 2. Workflow & Indentation

In [ ]:
#python will give you an error if you skip indentation (4 spaces before the formula)

a=5
b=2

if a>b:
  print('a is greater than b!')

a is greater than b!

# 3. True, False

In [ ]:
#Boolean True, False
#if a statement is correct then it will return True
#if the statement is not correct, it will return false
#use==symbol

a=1
b=2
c=1

print(a==b)

False

In [ ]:
print(a==c)

True

# 4. Condition: IF, ELSE, ELIF

In [ ]:
#if the statement is true then... do something

x=1

if x>0:
  print('x is greater than 0')

x is greater than 0

In [ ]:
var_1=2
print(var_1)

2

In [ ]:
x = -2
if x>0:
  print('x is greater than 0')

In [ ]:
#if the statement is true then... do something, ELSE do something else

x=-5
if x>0:
  print('x is greater than 0')
else:
  print('x is less than 0')

x is less than 0

In [ ]:
x=0

if x>0:
  print('x is greater than 0')
elif x==0:
  print('x is equal to zero')
else:
  print('x is less than 0')

x is equal to zero

In [ ]:
grade=9

if grade<5:
  print('You failed')
elif grade <=8 and grade >=5:
  print('You passed')
else: 
  print('Exceeds expectations')
  #Need to do the task here

Exceeds expectations

# 5. variable type

In [ ]:
#integer
#answer is a type of integer
age = 7
print(type(age))

<class 'int'>

In [ ]:
#float
#answer: float
age = 7.5
print(type(age))

<class 'float'>

In [ ]:
#string
name = 'Jessica'
print(type(name))

<class 'str'>

In [ ]:
pi_string= "3.142"
print(pi_string)
print(type(pi_string))

3.142
<class 'str'>

In [ ]:
#convert text to value
pi_float=float(pi_string)
print(pi_float)
print(type(pi_float))

3.142
<class 'float'>

In [ ]:
pi_int=int(pi_float)
print(pi_int)
print(type(pi_int))

3
<class 'int'>

In [ ]:
var_float=3.6
int(var_float)

3

In [ ]:
#tuple
name_age= (name, age)
print(name_age)
print(type(name_age))

('Jessica', 7.5)
<class 'tuple'>

In [ ]:
#date
date = '2022-12-31' #separated by hypens
print(date)
print(type(date)) #thinks it is a string

2022-12-31
<class 'str'>

In [ ]:
#to manipulate dates in Python, need to import dateime package from datetime modules (very important !!!)

from datetime import datetime

# 6. List

In [3]:
#lists contain multiple items. 
#using list constructor
my_list = list((1, 2, 3)) 
print(my_list)

[1, 2, 3]

In [4]:
#create a list
our_list = ["a", "b","c", 1, 1.5]
print(our_list)

['a', 'b', 'c', 1, 1.5]

In [6]:
#append

our_list.append("d")
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd', 'd']

In [8]:
#list indexing starts at 0
our_list[0]

'a'

In [9]:
#access last element
our_list[-1]

'd'

In [12]:
our_list[-2]

'd'

In [14]:
our_list[2]

'c'

In [16]:
#the first 2 elements
print(our_list)
print(our_list[2])
our_list[:2]

['a', 'b', 'c', 1, 1.5, 'd', 'd']
c

['a', 'b']

In [18]:
#going to end
print(our_list)
print(our_list[2:])

['a', 'b', 'c', 1, 1.5, 'd', 'd']
['c', 1, 1.5, 'd', 'd']

In [21]:
print(our_list[2:4])
#upper limit not included

print(our_list[2:5])

['c', 1]
['c', 1, 1.5]

In [23]:
len(our_list)

7

In [24]:
#inset an elelement

In [25]:
our_list.insert(0, "first element")
print(our_list)

['first element', 'a', 'b', 'c', 1, 1.5, 'd', 'd']

In [26]:
our_list.insert(-1, "element")
print(our_list)

['first element', 'a', 'b', 'c', 1, 1.5, 'd', 'element', 'd']

In [27]:
#remove element
our_list.remove("first element")
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd', 'element', 'd']

In [28]:
#remove by index
our_list.pop(0)
print(our_list)

['b', 'c', 1, 1.5, 'd', 'element', 'd']

In [29]:
#nested list
nested_list = [[1,2,3],6,7,5]
print(nested_list)

[[1, 2, 3], 6, 7, 5]

In [30]:
len(nested_list)

4

In [32]:
#access element of list
nested_list[0]

[1, 2, 3]

In [33]:
#access from within the sub list
nested_list[0][1]

2

In [ ]:
#do the list assignments

# 7. Strings

In [34]:
string_a = "text"
string_a

'text'

In [37]:
string_b = "This is a "
string_b

'This is a '

In [38]:
string_b + string_a

'This is a text'

In [39]:
string_c = string_b + string_a
string_c

'This is a text'

In [40]:
string_c.lower()

'this is a text'

In [41]:
string_c.upper()
#uppercase

'THIS IS A TEXT'

In [42]:
#access a string, spaces are considered elements
string_c[0]

'T'

In [44]:
len(string_c)

14

In [45]:
string_d = "Derrick.Matt@gmail.com"
print(string_d)

Derrick.Matt@gmail.com

In [46]:
#splitting a string
print(string_d.split("@"))

['Derrick.Matt', 'gmail.com']

# 8. Tuples

In [47]:
tuple_a = ('dog', 'Cat', 'Frog')
print(tuple_a)

('dog', 'Cat', 'Frog')

In [48]:
#immutable
#cannot append to a tuple
# but you can access the elements

tuple_a[0]

'dog'

# 9. Dictionaries

In [49]:
dictionary = {"key_1": "value_0",
              "key_2": "value_2",
              "key_3": "value_3"}

In [50]:
dictionary

{'key_1': 'value_0', 'key_2': 'value_2', 'key_3': 'value_3'}

In [51]:
our_dictionary = {"name":"Derrick",
                  "height":"6'0",
                  "location": "lost"}
our_dictionary

{'name': 'Derrick', 'height': "6'0", 'location': 'lost'}

In [52]:
print(dictionary["key_1"])

value_0

In [53]:
#change value
dictionary["key_1"] = "value_1"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

In [55]:
#add an element

dictionary["eye color"] = "blue"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3', 'eye color': 'blue'}

In [56]:
#remove element
dictionary.pop("eye color")

'blue'

In [57]:
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

In [ ]:
#do dictionary assignments

# 10. DataFrame

In [61]:
#table wit 2 dimensions where you have columns and rows

dataframe = {"name" : ["jess", "nick", "winston", "tom", "alex"],
             "age" : ["30", "35","40","27", "52"],
             "city": ["Paris", "Berlin", "London", "Rome", "Paris"],
             "country" : ["France", "DE", "GB", "IT", "FR"]}

In [59]:
import pandas as pd

In [62]:
#find our what pandas are
#load dictionary into dataframe

dfl=pd.DataFrame(dataframe)

dfl

      name age    city country
0     jess  30   Paris  France
1     nick  35  Berlin      DE
2  winston  40  London      GB
3      tom  27    Rome      IT
4     alex  52   Paris      FR

In [63]:
dfl.head(3)

      name age    city country
0     jess  30   Paris  France
1     nick  35  Berlin      DE
2  winston  40  London      GB

In [64]:
dfl.tail(3) #index starts at zero

      name age    city country
2  winston  40  London      GB
3      tom  27    Rome      IT
4     alex  52   Paris      FR

In [65]:
#df dimensions
# return n. rows and colums

dfl.shape

(5, 4)

In [66]:
#only rows
dfl.shape[0]

5

In [68]:
len(dfl)

5

In [69]:
# get df columns

dfl.columns

Index(['name', 'age', 'city', 'country'], dtype='object')

In [70]:
dfl.columns[0]

'name'

In [71]:
#locations .iloc & .loc

dfl

      name age    city country
0     jess  30   Paris  France
1     nick  35  Berlin      DE
2  winston  40  London      GB
3      tom  27    Rome      IT
4     alex  52   Paris      FR

In [72]:
#access by column name
dfl['age']

0    30
1    35
2    40
3    27
4    52
Name: age, dtype: object

In [73]:
dfl.age

0    30
1    35
2    40
3    27
4    52
Name: age, dtype: object

In [74]:
dfl.iloc[0]

name         jess
age            30
city        Paris
country    France
Name: 0, dtype: object

In [75]:
dfl.iloc[-1]
#return the last variable

name        alex
age           52
city       Paris
country       FR
Name: 4, dtype: object

In [76]:
#to access a single element need ot use both elements row and columns

dfl.iloc[0, 0]

'jess'

In [77]:
dfl.iloc[-1, -1]

'FR'

In [78]:
dfl.iloc [0,-1]

'France'

In [79]:
#loc row label, column label
dfl = dfl.set_index('name')
print("the new shape of dfl is:", dfl.shape)
print("")
dfl

the new shape of dfl is: (5, 3)

        age    city country
name
jess     30   Paris  France
nick     35  Berlin      DE
winston  40  London      GB
tom      27    Rome      IT
alex     52   Paris      FR

In [81]:
#access elements

print(dfl)
print("")
print("the country of nick is: ...")
dfl.loc['nick', 'country']

        age    city country
name
jess     30   Paris  France
nick     35  Berlin      DE
winston  40  London      GB
tom      27    Rome      IT
alex     52   Paris      FR

the country of nick is: ...

'DE'

In [83]:
dfl.loc[["alex", "nick"], "country"]

name
alex    FR
nick    DE
Name: country, dtype: object

In [84]:
dfl[dfl["city"] == 'Paris']

     age   city country
name
jess  30  Paris  France
alex  52  Paris      FR

In [85]:
dataframe_1 = {"prnom": ["Matthew", "Phillipe"],
               "age": ["32", "45"],
               "city": ["London", "London"],
               "pays": ["GB", "GB"]}
df2 = pd.DataFrame(dataframe_1)
df2.head()

     prnom age    city pays
0   Matthew  32  London   GB
1  Phillipe  45  London   GB

In [86]:
df2.columns = ["name", "age", "city","country"]
df2.head()

       name age    city country
0   Matthew  32  London      GB
1  Phillipe  45  London      GB

In [87]:
#compare columens

print(dfl.columns)
print(df2.columns)

Index(['age', 'city', 'country'], dtype='object')
Index(['name', 'age', 'city', 'country'], dtype='object')

In [88]:
df2= df2.set_index("name")
df2.head()

         age    city country
name
Matthew   32  London      GB
Phillipe  45  London      GB

In [89]:
df = pd.concat([dfl, df2])

df

         age    city country
name
jess      30   Paris  France
nick      35  Berlin      DE
winston   40  London      GB
tom       27    Rome      IT
alex      52   Paris      FR
Matthew   32  London      GB
Phillipe  45  London      GB

In [92]:
df["region"] = "Europe"
df

         age    city country  region
name
jess      30   Paris  France  Europe
nick      35  Berlin      DE  Europe
winston   40  London      GB  Europe
tom       27    Rome      IT  Europe
alex      52   Paris      FR  Europe
Matthew   32  London      GB  Europe
Phillipe  45  London      GB  Europe

In [93]:
salary = ["40", "50" , "35", "60", "55", "70", "45"]
df["salary"] = salary

In [94]:
df

         age    city country  region salary
name
jess      30   Paris  France  Europe     40
nick      35  Berlin      DE  Europe     50
winston   40  London      GB  Europe     35
tom       27    Rome      IT  Europe     60
alex      52   Paris      FR  Europe     55
Matthew   32  London      GB  Europe     70
Phillipe  45  London      GB  Europe     45

In [95]:
df.loc["Phillipe", ["city", "country"]] = ["Paris", "FR"]
df

         age    city country  region salary
name
jess      30   Paris  France  Europe     40
nick      35  Berlin      DE  Europe     50
winston   40  London      GB  Europe     35
tom       27    Rome      IT  Europe     60
alex      52   Paris      FR  Europe     55
Matthew   32  London      GB  Europe     70
Phillipe  45   Paris      FR  Europe     45