<a href="https://colab.research.google.com/github/saunderson987/Python_excel_Automation/blob/main/Python_Basics_Module_1_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Syntax

In [ ]:
# Comment
# This is a comment !

In [ ]:
print('Hello World')
# as Hello world is a string you have to add single or double quotation marks

Hello World

In [ ]:
print(2)
#helpful for keeping track of order of execution (no quotation for numbers)

2

In [ ]:
#operations / calculation
print(2+3)

5

In [ ]:
2+3
#use print is better as it only shows printed results if is more than one formula in text string

5

In [ ]:
print(2+3)
print(1*8)

5
8

In [ ]:
print('hey')
print("hey")

hey
hey

In [ ]:
#variables
#to assign a value use the symbol =
# assign a numerical variable
x=2
y=3

print(x,y)

2 3

In [ ]:
x+y

5

In [ ]:
#assign a 'text' value to a variable
#make operations with strings
#do not capitalise functions

string1='love'
string2='data'

print(string1+' '+string2)

love data

# 2. Workflow & Indentation

In [ ]:
#python will give you an error if you skip indentation (4 spaces before the formula)

a=5
b=2

if a>b:
  print('a is greater than b!')

a is greater than b!

# 3. True, False

In [ ]:
#Boolean True, False
#if a statement is correct then it will return True
#if the statement is not correct, it will return false
#use==symbol

a=1
b=2
c=1

print(a==b)

False

In [ ]:
print(a==c)

True

# 4. Condition: IF, ELSE, ELIF

In [ ]:
#if the statement is true then... do something

x=1

if x>0:
  print('x is greater than 0')

x is greater than 0

In [ ]:
var_1=2
print(var_1)

2

In [ ]:
x = -2
if x>0:
  print('x is greater than 0')

In [ ]:
#if the statement is true then... do something, ELSE do something else

x=-5
if x>0:
  print('x is greater than 0')
else:
  print('x is less than 0')

x is less than 0

In [ ]:
x=0

if x>0:
  print('x is greater than 0')
elif x==0:
  print('x is equal to zero')
else:
  print('x is less than 0')

x is equal to zero

In [15]:
grade=9

if grade<5:
  print('You failed')
elif grade <=8 and grade >=5:
  print('You passed')
else: 
  print('Exceeds expectations')
  #Need to do the task here

Exceeds expectations

# 5. variable type

In [ ]:
#integer
#answer is a type of integer
age = 7
print(type(age))

<class 'int'>

In [ ]:
#float
#answer: float
age = 7.5
print(type(age))

<class 'float'>

In [ ]:
#string
name = 'Jessica'
print(type(name))

<class 'str'>

In [ ]:
pi_string= "3.142"
print(pi_string)
print(type(pi_string))

3.142
<class 'str'>

In [ ]:
#convert text to value
pi_float=float(pi_string)
print(pi_float)
print(type(pi_float))

3.142
<class 'float'>

In [ ]:
pi_int=int(pi_float)
print(pi_int)
print(type(pi_int))

3
<class 'int'>

In [ ]:
var_float=3.6
int(var_float)

3

In [ ]:
#tuple
name_age= (name, age)
print(name_age)
print(type(name_age))

('Jessica', 7.5)
<class 'tuple'>

In [ ]:
#date
date = '2022-12-31' #separated by hypens
print(date)
print(type(date)) #thinks it is a string

2022-12-31
<class 'str'>

In [ ]:
#to manipulate dates in Python, need to import dateime package from datetime modules (very important !!!)

from datetime import datetime

In [ ]:
date